.Header {
  padding: 0px 20px;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--inverted {
    background: $palered;
  }

  &__actions {
    height: 100%;
    height: 40px;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__hamburger {
    display: none;
  }
}

@media (max-width: $tablet) {
  .Header {
    &__actions {
      display: none;
    }

    &__hamburger {
      display: block;
    }
  }
}
