#App {
  height: 100vh;
  width: 100vw;
}

// ========== SPACING ========== //

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}
