// ========== COLORS ========== //

// ======= PRIMARY ====== //
$palered: #b75d69;

// ===== GRAY SCALE ===== //
$white: #fff;
$lightgray: #adbcd3;

// ========== SIZING ========== //

// ====== DEVICES ====== //
$mobile: 425px;
$tablet: 768px;
$desktop-sm: 1024px;
$desktop-lg: 1440px;
$desktop-xl: 2560px;

// ==== COMPONENTS ==== //
$header-height: 60px;
